#u999_div {
  border-width:0px;
  position:relative;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(1, 107, 181, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#016BB5;
}

#u999_div.selected {
  border-width: 0px;
  position:relative;
  height:31px;
  background-color:#e4f1fa;
  border: none;
  border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #e4f1fa;
}

#u999 {
  position:relative;
  display: inline-block;
  border-width:0px;
  height:27px;
  color:#016BB5;
  margin: 1px;
}

#u999_text {
  border-width:0px;
  position:relative;
  display: inline-block;
  top:5px;
  white-space:nowrap;
}
