#boite {
    display: grid;
    grid-auto-rows: minmax(2em, auto);
    grid-gap: 1em;
    font-family: "Calibri Bold", "Calibri Regular", "Calibri";
    max-width: 60em;
    margin: auto;
    margin-top: 1em;
}

#outil {
  display: flex;
  border-width:0px;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0BB601;
}
#cat_cont {
  display: grid;
  grid-gap: 1em;
}
.link {
  color:#0BB601;
  cursor: pointer;
}

#label_filtrer {
  font-weight:700;
}
#arbo {
  display: grid;
  font-size: 13px;
}
#u557_img {
  border-width:0px;
  position:relative;
  top:10px;
  width:9px;
  height:5px;
  margin-left: 1em;
  margin-right: 1em;
}

#liste_deroul_tools {
  display: grid;
  grid-auto-rows: minmax(2em, auto);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
  line-height:normal;
  max-width: 20em;
}
#u825_div {
  display: grid;
  background:inherit;
  cursor: pointer;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  font-style:normal;
  text-align:left;
  line-height:normal;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';
  font-weight:700;
  font-size:14px;
  border-color:rgba(11, 182, 1, 1);
  text-align:left;
  text-align: center;
}

