<div id="boite">

      <div id="arbo">
        <p><a  class="link"><span [routerLink]="['/home']" >Accueil</span></a><span> &gt; </span><a
            class="link"><span >Boite à outils</span></a><span> &gt; {{outil}}</span></p>
      </div>

    <div id="outil" class="ax_default" tabindex="0" style="cursor: pointer;" (click)="deroulerListe()">
      <img id="u557_img" #fleche src="assets/images/angle_u518.png" />
      <p>{{outil | capitalizeFirstLetter}}</p>
    </div>
    <div id="liste_deroul_tools" #ld *ngIf="listeDeroulante">


        <div id="u825_div" (click)="deroulerListe()" [routerLink]="['/boite_outils','dictionnaires']" appHighlight [defaultColor]="highlightColor">
          <p><span >Dictionnaires</span></p>
      </div>



        <div id="u825_div" (click)="deroulerListe()" [routerLink]="['/boite_outils','test de français']" appHighlight [defaultColor]="highlightColor">
          <p><span>Tests de français</span></p>
      </div>



        <div id="u825_div" (click)="deroulerListe()" [routerLink]="['/boite_outils','culture et société québécoise']" appHighlight [defaultColor]="highlightColor">
          <p><span  >Culture et société québécoise</span></p>
      </div>



        <div id="u825_div" (click)="deroulerListe()" [routerLink]="['/boite_outils','fiches grammaticales']" appHighlight [defaultColor]="highlightColor">

          <p><span >Fiches grammaticales</span></p>

      </div>



        <div id="u825_div" (click)="deroulerListe()" [routerLink]="['/boite_outils','sites d\'apprentissage et cours en ligne']" appHighlight [defaultColor]="highlightColor">

          <p><span >Sites d’apprentissage et cours en ligne</span></p>

      </div>



        <div id="u825_div" (click)="deroulerListe()" [routerLink]="['/boite_outils','correcteurs et aide à la conjugaison']" appHighlight [defaultColor]="highlightColor">

          <p><span >Correcteurs et aide à la conjuguaison</span></p>

      </div>



        <div id="u825_div"  (click)="deroulerListe()" [routerLink]="['/boite_outils','conseils linguistiques et modèles de communication']" appHighlight [defaultColor]="highlightColor">

          <p><span >Conseils linguistiques et modèles de communication</span></p>
        </div>

    </div>


    <div id="label_filtrer">
        <p>Filtrer par catégorie</p>
    </div>

    <div id="cat_cont">
      <div id="categories">
        <app-bouton-resultat style="margin-bottom:5px" (notify)='onNotify($event)' [item]='item' [color] = "pageColor"  [highlightColor]="highlightColor" *ngFor="let item of resultats2 ">
        </app-bouton-resultat>
      </div>

<div id="contenants">
  <app-contenant-resultat [filtre]="filtre" [imageSrc]="imageSrc" style="top:20px" *ngFor="let item of let item of resultats2" [item] ='item' [resultats]='resultats' [clicked]="clicked"></app-contenant-resultat>
</div>


      </div>


  </div>
