<html>

<body>
  <div id="base" class="">

    <div id="u91" class="ax_default box_2">
      <div id="u91_div" class=""></div>
    </div>


    <div id="u92" class="ax_default heading_1">
      <div id="u92_div" class=""></div>
      <div id="u92_text" class="text ">
        <p><span>Banque de ressources en ligne pour l'apprentissage du français</span></p>
      </div>
    </div>


    <div id="u93" class="ax_default box_1">
      <div id="u93_div" class=""></div>
    </div>


    <div id="u94" class="ax_default image">
      <img id="u94_img" class="img " src="../assets/images/images_home/u94.png" />
    </div>

    <router-outlet></router-outlet>

    <!-- <div id="u96" class="ax_default" data-label="cours MIDI" data-left="0" data-top="0" data-width="1023"
      data-height="190">

      <div id="u97" class="ax_default box_1">
        <div id="u97_div" class=""></div>
        <div id="u97_text" class="text ">
          <p style="font-size:18px;"><span
              style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';font-weight:700;color:#016BB5;">Apprenez
              le français en ligne avec le service gratuit du Ministère !</span></p>
          <p style="font-size:18px;"><span
              style="font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';font-weight:700;color:#333333;"><br></span>
          </p>
          <p style="font-size:14px;"><span style="font-family:'Calibri';font-weight:400;color:#333333;">Le service de
              Francisation en ligne (FEL) vous permet d’apprendre le français à votre rythme et selon différentes
              formules, que vous soyez déjà arrivé ou non au Québec.</span></p>
          <p style="font-size:14px;"><span style="font-family:'Calibri';font-weight:400;color:#333333;"><br></span></p>
          <p style="font-size:14px;"><span style="font-family:'Calibri';font-weight:400;color:#333333;">Retrouvez plus
              d'informations directement sur le site du </span><a id="u98" class="link"><span
                style="font-family:'Calibri';font-weight:400;color:#016BB5;">ministère de l'immigration, de la diversité
                et de l'inclusion</span></a></p>
        </div>
      </div>

      <div id="u99" class="ax_default image">
        <img id="u99_img" class="img " src="../assets/images/images_home/u99.png" />
      </div>

      <div id="u100" class="ax_default box_1">
        <div id="u100_div" class=""></div>
      </div>
    </div>
    <div id="u102" class="ax_default box_3" data-label="footer">
      <div id="u102_div" class=""></div>
      <div id="u102_text" class="text ">
        <p><span>Le ministère de l'Immigration, de la Diversité et de l'Inclusion (MIDI) a sélectionné des exercices de
            français qui proviennent de sites web du Québec, de la France et d'ailleurs. Par conséquent, ces exercices
            ne reflètent pas tous la réalité socioculturelle québécoise. Le MIDI ne peut être tenu responsable de
            l'exactitude, de l'actualité ni de la fiabilité du contenu des exercices qui n'ont pas été produits par le
            ministère.</span></p>
      </div>
    </div> -->

  </div>
</body>

</html>
