#u93_div {
  display: grid;
  grid-template-columns: 60fr 0.25fr 80fr;
  grid-auto-rows: minmax(7em, auto);
  grid-gap: 1em;
  background-color: rgba(242, 242, 242, 1);
}

#u94 {
  font-family: "Calibri Bold", "Calibri Regular", "Calibri";
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  align-self: center;
  margin-left : 1em;
}

#u95_div {
  background-color: rgba(1, 107, 181, 1);
}

img {
  object-fit: scale-down;
  width: 100%;
  max-height: 100%;
}
