<div #parentDiv  id="contenant" *ngIf="clicked == false || (item == filtre && clicked == true) " >

  <div id="titre">
      <p><span (click)="page_sous_type(item)">{{item}}</span></p>
  </div>
  <div #childDiv id="liste_liens">
    <div *ngFor="let item1 of filterTable(resultats,item)" id="lien">
      <div id="texte">

          <p><img  id="image" src="{{imageSrc}}" />
            <a *ngIf="!toutesCompetences"  href="{{item1.lien}}" style= "color: inherit;text-decoration : none;" target="_blank">{{item1.activite}}
            </a><img id="img" src="{{item1.langue == 'français québécois' ? 'assets/images/Fleur_de_lys.png' : ''}}" />
            <a *ngIf="toutesCompetences"  [routerLink]="['/resultats', niveau, item, item1]" style= "color: inherit;text-decoration : none;">{{item1 ? item1 : item}}
            </a>
          </p>
      </div>
    </div>

  </div>

</div>
