#boite {
  display: grid;
  grid-auto-rows: minmax(2em, auto);
  grid-gap: 1em;
  font-family: "Calibri Bold", "Calibri Regular", "Calibri";
  max-width: 60em;
  margin: auto;
  margin-top: 1em;
}
#arbo {
  display: grid;
  font-size: 13px;
}
.link {
  color:#FF9D4B;
  cursor: pointer;
}
#outil {
  display: flex;
  border-width:0px;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9D4B;
}
#label_filtrer {
  font-weight:700;
}
#u557_img {
  border-width:0px;
  position:relative;
  top:10px;
  width:9px;
  height:5px;
  margin-left: 1em;
  margin-right: 1em;
}
#image {
  border-width:0px;
  left:0px;
  top:10px;
  width:10px;
  height:6px;
}
#liste_deroul_tools {
  display: grid;
  grid-auto-rows: minmax(2em, auto);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
  line-height:normal;
  max-width: 20em;
}
#u825_div {
  display: grid;
  background:inherit;
  cursor: pointer;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  font-style:normal;
  text-align:left;
  line-height:normal;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';
  font-weight:700;
  font-size:14px;
  border-color:#FF9D4B;
  text-align:left;
  text-align: center;
}
