#boite {
  display: grid;
  grid-auto-rows: minmax(2em, auto);
  grid-gap: 2em;
  font-family: "Calibri Bold", "Calibri Regular", "Calibri";
}
body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1339px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#arbo {
  font-size: 12px;
}
#label_filtrer {
  font-weight:700;
}
#u241_img {
  border-width:0px;
  width:1024px;
  height:2px;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(1, 107, 181, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  color:#016BB5;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:157px;
  width:183px;
  height:30px;
  font-family:'Calibri';
  font-weight:400;
  font-style:normal;
  color:#016BB5;
}

#u119_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:163px;
  white-space:nowrap;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#016BB5;
}
#u115 {
  border-width:0px;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#016BB5;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  white-space:nowrap;
}
