#boite {
  display: grid;
  grid-auto-rows: minmax(2em, auto);
  grid-gap: 1em;
  font-family: "Calibri Bold", "Calibri Regular", "Calibri";
  max-width: 60em;
  margin:auto;
  margin-top: 1em;
}
#cat_cont {
  display: grid;
  grid-gap: 1em;
}

#arbo {
  display: grid;
  font-size: 13px;
}
#label_filtrer {
  font-weight:700;
}
#resume_rech {
  display: grid;
}
#label_rech_bout {
  display: grid;
  grid-gap: 1em;
  grid-auto-rows: minmax(1em, auto);
}
#label_rech {
  border-width:0px;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';
  font-weight:700;
  font-size:20px;
  color:#016BB5;
  text-align: left;
}

#bouton{
  cursor: pointer;
  border-width: 0px;
  font-family: "Calibri Bold", "Calibri Regular", "Calibri";
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  font-size: 13px;
  text-align: center;
  background: inherit;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  justify-self: end;
  align-items: center;
  max-width: 13em;
}
