<div id="boite">


  <div id="arbo">
    <p><a id="u117" class="link"><span [routerLink]="['/home']" style="color:#016BB5;cursor: pointer;">Accueil</span></a><span> &gt; Résultat de la recherche
        personnalisée</span></p>
  </div>

<div id="label_rech_bout">
    <div id = label_rech>
      <span><span>Exercices trouvés pour votre recherche : </span><span>{{motCle}}</span></span>
    </div>
    <div id="bouton">
      <p><span [routerLink]="['/home']">Faire une nouvelle recherche</span></p>
    </div>
</div>


    <div id="label_filtrer">
      <p>Filtrer les résultats de recherche</p>
    </div>

    <div >
        <p><span>Par niveau</span></p>
        <select [(ngModel)]= "filtre" (change)="filtrerParNiveau($event.target.value)">
          <option *ngFor="let key of mapTableParNiveau(resultats)" [value]="key">{{key}}</option>
        </select>
    </div>



    <div >
        <p><span>Par compétences</span></p>
        <select [(ngModel)]= "filtre"   (change)="filtrerParCompetence($event.target.value)">
          <option *ngFor="let key of mapTableParCompetence(resultats)" [value]="key">{{key}}</option>
        </select>
    </div>


    <div>
        <p><span>Par types</span></p>
          <select [(ngModel)]= "filtre" (change)="filtrerParType($event.target.value)">
            <option *ngFor="let key of mapTableParType(resultats)" [value]="key"  (click)="filtrerParType($event.target.value)">{{key}}</option>
          </select>
    </div>



    <div *ngIf="filtredCompetence == false && filtredType == false">
    <div *ngFor="let item1 of resultats3" >
        <div *ngIf="filtred == false || (item1 == filtreNiveau && filtred == true) ">
          <div >
              <div id= "label_rech">
                <p><span>Niveau: {{item1}}</span></p>
              </div>
            </div>

            <app-contenant-resultat [clicked]= "clicked" [imageSrc]="imageSrc" *ngFor="let item of mapTableParSousTheme(filterTableParNiveau(resultats,item1));" [item]="item" [resultats]="resultats"></app-contenant-resultat>
            <br>
          </div>
    </div>
  </div>

  <div *ngIf="filtredType == true">
    <div *ngFor="let item1 of resultats4" >
        <div *ngIf="filtredType == false || (item1 == filtreType && filtredType == true) ">
          <div >
              <div  id= "label_rech">
                <p><span>Type: {{item1}}</span></p>
              </div>
            </div>

            <app-contenant-resultat [clicked]= "clicked" [imageSrc]="imageSrc" *ngFor="let item of mapTableParSousTheme(filterTableParType(resultats,item1));" [item]="item" [resultats]="resultats"></app-contenant-resultat>
            <br>
          </div>
    </div>
  </div>

  <div *ngIf="filtredCompetence == true">
    <div *ngFor="let item1 of resultats5">
        <div *ngIf="filtredCompetence == false || (item1 == filtreCompetence && filtredCompetence == true) ">
          <div >
              <div id= "label_rech">
                <p><span>Compétence: {{item1}}</span></p>
              </div>
            </div>

            <app-contenant-resultat [clicked]= "clicked" [imageSrc]="imageSrc" *ngFor="let item of mapTableParSousTheme(filterTableParCompetence(resultats,item1));" [item]="item" [resultats]="resultats"></app-contenant-resultat>
            <br>
          </div>
  </div>
