<body>
  <div id="base" class="">


    <div id="u308" class="ax_default paragraph">
      <div id="u308_div" class=""></div>
      <div id="u308_text" class="text ">
        <p><a id="u309" class="link"><span style="color:#016BB5;cursor: pointer;">Accueil</span></a><span> &gt; Résultat de la recherche par mot clés</span></p>
      </div>
    </div>


    <div id="u307" class="ax_default heading_3">
      <div id="u307_div" class=""></div>
      <div id="u307_text" class="text ">
        <p><span>Exercices trouvés pour votre recherche : </span></p>
      </div>
    </div>


    <div id="u310" class="ax_default heading_3">
      <div id="u310_div" class=""></div>
      <div id="u310_text" class="text ">
        <p><span>{{motCle}}</span></p>
      </div>
    </div>

    <div id="u313" class="ax_default line">
      <img id="u313_img" class="img " src="../../assets/images/u241.png">
    </div>

    <div id="u311" class="ax_default label" data-label="btn_nouvelle_recherche">
      <div id="u311_div" class=""></div>
      <div id="u311_text" class="text ">
        <p><span [routerLink]="['/home']">Faire une nouvelle recherche</span></p>
      </div>
    </div>


    <div id="u312" class="ax_default heading_3">
      <div id="u312_div" class=""></div>
      <div id="u312_text" class="text ">
        <p><span>Filtrer les résultats de recherche</span></p>
      </div>
    </div>

    <div id="u321" class="ax_default label">
      <div id="u321_div" class=""></div>
      <div id="u321_text" class="text ">
        <p><span>Par niveau</span></p>
      </div>
    </div>


    <div id="u322" class="ax_default droplist" data-label="niveaux">
      <select id="u322_input" (change)="filtrerParNiveau($event.target.value)">
        <option *ngFor="let key of mapTableParNiveau(resultats)" [value]="key">{{key}}</option>
      </select>
    </div>


    <div id="u323" class="ax_default label">
      <div id="u323_div" class=""></div>
      <div id="u323_text" class="text ">
        <p><span>Par compétences</span></p>
      </div>
    </div>


    <div id="u324" class="ax_default label">
      <div id="u324_div" class=""></div>
      <div id="u324_text" class="text ">
        <p><span>Par types</span></p>
      </div>
    </div>


    <div id="u325" class="ax_default droplist" data-label="compétences">
      <select id="u325_input"  (change)="filtrerParCompetence($event.target.value)">
        <option *ngFor="let key of mapTableParCompetence(resultats)" [value]="key">{{key}}</option>
      </select>
    </div>

    <div id="u326" class="ax_default droplist" data-label="types">
      <select id="u326_input"  (change)="filtrerParType($event.target.value)">
        <option *ngFor="let key of mapTableParType(resultats)" [value]="key"  (click)="filtrerParType($event.target.value)">{{key}}</option>
      </select>
    </div>

    <div *ngIf="filtredCompetence == false && filtredType == false">
    <div *ngFor="let item1 of resultats3" id="u888">
        <div *ngIf="filtred == false || (item1 == filtreNiveau && filtred == true) ">
          <div id="u828">
              <div id="u828_text" class="text ">
                <p><span>Niveau {{item1}}</span></p>
              </div>
            </div>

            <app-contenant-resultat [clicked]= "clicked" [imageSrc]="imageSrc" *ngFor="let item of mapTableParActivite(filterTableParNiveau(resultats,item1));" [item]="item" [resultats]="resultats"></app-contenant-resultat>
            <br>
          </div>
    </div>
  </div>

  <div *ngIf="filtredType == true">
    <div *ngFor="let item1 of resultats4" id="u888">
        <div *ngIf="filtredType == false || (item1 == filtreType && filtredType == true) ">
          <div id="u828">
              <div id="u828_text" class="text ">
                <p><span>{{item1}}</span></p>
              </div>
            </div>

            <app-contenant-resultat [clicked]= "clicked" [imageSrc]="imageSrc" *ngFor="let item of mapTableParActivite(filterTableParType(resultats,item1));" [item]="item" [resultats]="resultats"></app-contenant-resultat>
            <br>
          </div>
    </div>
  </div>

  <div *ngIf="filtredCompetence == true">
    <div *ngFor="let item1 of resultats5" id="u888">
        <div *ngIf="filtredCompetence == false || (item1 == filtreCompetence && filtredCompetence == true) ">
          <div id="u828">
              <div id="u828_text" class="text ">
                <p><span>{{item1}}</span></p>
              </div>
            </div>

            <app-contenant-resultat [clicked]= "clicked" [imageSrc]="imageSrc" *ngFor="let item of mapTableParActivite(filterTableParCompetence(resultats,item1));" [item]="item" [resultats]="resultats"></app-contenant-resultat>
            <br>
          </div>
    </div>
  </div>
